{% extends "layout.html" %}

{% block title %}
    Settings
{% endblock %}

{% block main %}
<div class="container">
    <div>
        <h4>Preferences</h4>
        <!-- <ul>
            {% for pref in current_user_prefs %}
                <li> {{ pref }} </li>
            {% endfor %}
        </ul> -->
        <form action="/settings" method="post">
            <div>
                {% for cuisine in all_cuisine_types %}
                    <div class="form-check form-switch">
                        {% if cuisine.cuisine_type in current_user_prefs %}{% set checkedVal = 'checked' %}{% endif %}
                        <input class="form-check-input" type="checkbox" id="{{ cuisine.cuisine_type }}" name="cuisine_selections" value="{{ cuisine.cuisine_type }}" {{ checkedVal }}>
                        <label class="form-check-label" for="{{ cuisine.cuisine_type }}">{{ cuisine.cuisine_type }}</label>  
                    </div>
                {% endfor %}
            </div>
            <div>
                <h4>Current Budget</h4>
                <p>{{ daily_budget | usd }}</p>
            </div>
            <div>
                <input name="new_budget" autocomplete="off" id="new_budget" type="number" placeholder="$0.00" step=".01">
                <div>
                    <button type="submit">Submit</button>

                </div>
            </div>     
        </form>
    </div>

</div>
{% endblock %}