<div class="row">
    <h2>Set Cuisine Preferences</h2>
    {% for cuisine in all_cuisines %}
    <div class="form-check form-switch text-start col-md-2 col-5 offset-1 col-md-3 offset-md-1 col-lg-2 offset-lg-1">
        <input class="form-check-input" type="checkbox" id="{{ cuisine.cuisine_type }}" name="cuisine_selections"
            value="{{ cuisine.cuisine_type }}">
        <label class="form-check-label" for="{{ cuisine.cuisine_type }}">{{ cuisine.cuisine_type }}</label>
    </div>
    {% endfor %}
</div>
<div class="row">
    <h2 class="h2">Set Budget</h2>
    <div class="col align-self-center mb-2">
        <input name="daily_budget" autocomplete="off" id="set_budget" type="number" placeholder="$0.00" step=".01"
            required>
    </div>
</div>
<div class="col align-self-center">
    <button class="btn btn-primary" type="submit">Register</button>
</div>