{% extends "layout.html" %}

{% block title %}
    View Recipe
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div>
            <h2> {{ recipe.title }}</h2>
        </div>
        <div>
            <img src="{{ image_url }}" alt {{ recipe.title }}>
        </div>
        <div>CooK Time: {{ recipe.cookingTime }}</div>
        <div>Total Time: {{ recipe.readyInMinutes }}</div>
        <div>Servings: {{ recipe.servings }}</div>
        <div>Estimated Price: {{ total_price | usd }}</div>
        <div>Summary: {{ recipe.summary | remove_html_tags}}</div>
        <ul>
            {% for ingredient in recipe.extendedIngredients %}
                <li class="ingredients">{{ ingredient.original }}</li>
            {% endfor %}
        </ul>
        <div>
            <ol>
                {% for step in instructions %}
                    <li class="steps">{{ step }}</li>
                {% endfor %}
            </ol>
        </div>  
        <label for="id-of-input" class="custom-checkbox">
            <input type="checkbox" id="id-of-input"/>
            <i class="glyphicon glyphicon-star-empty"></i>
            <i class="glyphicon glyphicon-star"></i>
            <span>Favorite</span>
          </label>
    </div>
    
    

{% endblock %}